@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Itim&family=Montserrat:ital,wght@0,100;0,300;0,400;1,300&family=Neucha&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;1,200&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Architects Daughter', cursive;
    text-decoration: none;
    scroll-behavior: smooth;
}